= content_tag_for(:li, task, :"data-edit-title" => task.title, :class => (task.completed ? 'completed' : nil)) do
  %span.task_title
    %div.checkbox check
    - if task.due_date?
      %span.date= task.due_date.strftime("%m/%d")
    %span.text
      = auto_link task.display_title
