input[type="text"], input[type="password"]
  -moz-box-shadow: 0px 1px 1px #ddd inset
  -webkit-box-shadow: 0px 1px 1px #ddd inset
  border: none
  border-bottom: 1px solid #eee
  padding: 3px 4px
  height: 15px
  background-color: #f9f9f9
  font-family: "Helvetica Neue", Arial, sans-serif
  // -webkit-border-radius: 2px
  // -moz-border-radius: 2px
  margin: 0 0 0 -4px
  &:focus 
    -moz-box-shadow: 0px 1px 1px #D0D053 inset
    -webkit-box-shadow: 0px 1px 1px #D0D053 inset  
    background-color: #FDFEAD
    background-color: rgba(254, 254, 6, .2)
    outline: none
    border-bottom-color: transparent
#page #content.form
  width: 280px
  h1
    margin-bottom: 0px
  h2
    margin: 0 0 50px 0
    font-size: 20px
  .links
    width: 280px
    float: left
    height: auto
    font-size: 14px
    //a
      color: #009DFF
      font-size: 16px
.input 
  margin: 12px 0 0 0
  background: #fff
  float: left
  position: relative
  cursor: default	
  span 
    position: absolute
    padding: 5px
    margin: 1px 0 0 3px
    color: #ddd
    font-size: 14px
  input[type="text"], input[type="password"]
    position: relative
    margin: 0
    background: transparent
    background-color: rgba(200, 200, 200, .07)
    display: block  
    padding: 4px 6px 
    // border: 1px solid #ddd
    position: relative 
    z-index: 3
    height: 20px
    width: 220px
    font-size: 14px
    color: #333
    // -webkit-box-shadow: none
    //  -moz-box-shadow: none
    &.fieldError 
      border-left: 1px solid #dc4d48 
      // -webkit-box-shadow: none
      // -moz-box-shadow: none
    &#card-cid 
      width: 90px
      margin-right: 10px   
    &#card-exp 
      width: 120px  
    &:focus 
      background: transparent
      background: rgba(254, 254, 6, .2)
      // border: 1px solid #A6D4E8
      //     -webkit-box-shadow: 0 0 3px #A6D4E8
      //     -moz-box-shadow: 0 0 3px #A6D4E8
  .form-error 
    position: absolute
    left: -10px
    top: 21px
    width: 100%
    color: #EB7378
    font-size: .9em
    font-weight: bold
#content
  form, fieldset
    margin: 0
    padding: 0
    width: 240px
    height: auto
    float: left
    h3 
      float: left
      font-size: 1.2em
      font-weight: bold
      margin: 0 0 15px 0
      width: 100%
    ul
      float: left
      width: 180px
      padding: 0
      margin: -5px 0 0 0
      li
        font-size: .7em
        display: inline-block
        width: auto
        margin: 0 0 0 0
        a
          display: block
          width: auto
          padding: 0px 5px 2px 0
          color: #005F8B
          text-decoration: none
    // p
    //    font-size: 1em
    //    color: #999
    //    display: block
    //    float: left
    //    clear: both
    //    padding: 0
    //    margin: 0 0 10px 0
    #error_explanation
      margin: 10px 0 0
      float: left
      clear: both
      color: #dc4d48
      width: 240px
      h2
        display: none
      ul
        width: 240px
        li
          display: list-item
          margin: 0
          list-style: none
          font-weight: bold
          font-size: 14px
          color: #dc4d48
          padding: 0
  input[type="submit"]
    cursor: pointer
    display: inline-block
    line-height: 1.8
    margin: 12px 200px 10px 0
    padding: 2px 13px
    // text-transform: uppercase
    height: auto
    width: auto
    text-align: center
    vertical-align: middle
    white-space: nowrap
    float: left 
    background: #f9f9f9
    background: -moz-linear-gradient(center top , #FFFFFF, #FFFFFF 55%, #E4E4E4) repeat scroll 0 0 transparent
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), color-stop(0.55, white), to(#E4E4E4))
    font-size: 14px
    font-weight: bold
    color: #666
    font-family: "Helvetica Neue", Arial, sans-serif
    border: 1px solid #ccc
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    // -moz-box-shadow: 0 0 2px #ccc
    // -webkit-box-shadow: 0 0 2px #ccc
    text-shadow: 0 1px 0 #fff
    outline: none 
    &:hover, &:focus
      // -moz-box-shadow: 0 1px 1px #aaa
      // -webkit-box-shadow: 0 1px 1px #aaa
      border-color: #aaa
      text-shadow: none
      color: #555
    &:active
      -moz-box-shadow: none
      -webkit-box-shadow: none
      background: #eee
      outline: none
input[type="text"]:focus, input[type="password"]:focus, textarea:focus 
  outline: 0
fieldset 
  float: left
  width: 300px
  height: auto
  margin: 0 0 5px 0
legend 
  float: left
  font-size: 1.1em
  margin: 0 10px 0 0
  width:  70px
.checkbox 
  float: left
  width: 100%
  margin: 8px 0 5px 0
  height: 16px
  color: #ddd
.remember 
  width: 100%
.forgot 
  float: left
  width: 100%
  margin: 15px 0 15px 0
  text-align: left
  color: #ccc
  font-size: 1em
.radio label, .radio input 
  float: left
  margin-top: 2px
.radio label 
  margin: 2px 6px 0 0 
.checkbox label, .radio label 
  vertical-align: middle
  font-size: 11px
  font-weight: bold
  color: #ddd
.checkbox input, .radio input 
  vertical-align: middle
  padding: 0
  margin: 0
select 
  float: left
  width: 160px
  margin: 0 60px 10px 0
.cancel 
  margin: 1.3em 0 0 15px
  font-size: 1.1em
  color: #ccc
  float: left
a.cancel:hover 
  color: #666


    
