@media screen and (min-device-width: 220px) and (max-device-width: 500px) 
  #container
    width: 100%
  .show
    input[type="text"], input[type="password"]
      font-size: 15px
      height: 22px
      -webkit-border-radius: none
  table
    width: 100%
    .list
      display: block
      float: left
      .list_title
        font-size: 15px
        font-weight: bold
      ul 
        li
          font-size: 15px
          .task_title
            padding: 6px 0 8px 
          &.completed
            display: none
          &:hover
            background-color: #fff
            border-color: #eee
          .date
            font-size: 13px
