div.color_picker 
  position: absolute
  right: 40px
  padding: 0 !important
  background: url(/images/picker4.png) no-repeat top right
  cursor: pointer
  line-height: 16px
  text-indent: -10000px
  display: none
div#color_selector 
  z-index: 100
  width: 86px
  position: absolute
  top: 0
  right: 0
  background-color: #eee
  padding: 8px 8px 4px
  -webkit-border-radius: 2px
  -moz-border-radius: 2px
  -webkit-box-shadow: 0 0 3px rgba(0,0,0, .4)
  -moz-box-shadow: 0 0 3px rgba(0,0,0, .4)
div#color_custom 
  width: 100% 
  float:left 
  // label 
  //   font-size: 10px 
  //   color: #2F2F2F 
  //   margin: 5px 2px 
  //   width: 25%
  input 
    margin: 8px 0 4px 
    padding: 2px 3px 
    font-size: 95% 
    width: 78px
    font-size: 11px
    font-weight: bold
    border: none
    -webkit-box-shadow: 0 1px 0 #ccc inset
    -moz-box-shadow: 0 1px 0 #ccc inset
    &:focus
      background-color: #FDFEAD
      -webkit-box-shadow: 0 1px 0 #DED45C inset
      -moz-box-shadow: 0 1px 0 #DED45C inset
div.color_swatch 
  height: 15px
  width: 15px
  margin: 0px
  float: left
  cursor: pointer
  line-height: 12px
  border: 1px solid transparent
  &:hover
    border-color: #fff !important
