@media print
  html
  #util, input, .completed, .today, .archive_link, .input
    display: none
  .list
    margin: 20px
    padding: 0
    .list_title
      border-bottom: 1px solid #999
      padding: 0
      h3
      color: #111
      font-size: 13px
  ul li
    list-style-type: circle
    padding: 0
    .task_title
      font-size: 12px
      padding: 0
