@import reset.sass
@import picker.sass
@import forms.sass
html
  height: 100%
  cursor: default !important
body 
  font-family: "Helvetica Neue", Arial, sans-serif
  color: #191919
  height: 100%
  cursor: default !important
  background: #fff
  &.home, &.new, &.create, &.legal, &.help
    text-align: center
.legal #page #content p,.help #page #content p
  color: #333
  font-size: 12px
.home #page
  max-width: 960px
  // min-width: 1060px
  overflow: visible
  #content
    float: none
    position: absolute
    width: auto 
    max-width: 700px
    top: 0
    left: 0
    padding: 40px 20px 20px 20px 
  #content p
    font-weight: bold
    line-height: 1.2
    font-size: 24px
    letter-spacing: -1px
#page
  min-height: 100%
  height: auto
  margin: 0 auto
  text-align: left
  min-width: 300px
  width: 100%
  max-width: 680px
  overflow: auto
  position: relative
  #content
    padding: 40px
    float: left
    max-width: 680px
    height: auto
    overflow: auto
    margin-top: 30px
    -webkit-border-radius: 4px
    min-width: 280px
    position: relative
    #login
      float: left
      margin: 5px 0 0 0
      width: 280px
      display: none
      height: auto
      p
        margin: 20px 0
        display: inline-block
        width: 100%
        height: auto
        font-size: 20px
      // a
        color: #009DFF
        font-size: 12px
        margin: 15px 0 0 0
    h1
      font-size: 30px
      margin: 40px 0 113px 0
      color: #333
      letter-spacing: -1px
      a
        font-size: 28px
        color: #333
        text-shadow: 0 1px 0 #fff
        &:hover
          border-color: #333
    h2
      font-size: 28px
      margin: 0 0 20px 0
      color: #666
      font-weight: bold
    h3
      font-size: 18px
      margin: 25px 0 15px
    h4
      margin: 25px 0 5px
    ul
      margin: 10px 0
      li
        list-style: none
        font-size: 13px
        padding: 2px
        margin: 2px 0
        strong
    p
      margin: 10px 0 20px
      max-width: 100%
      line-height: 1.3
      font-size: 18px
      color: #ddd
      &#sign_in
        margin: 40px 0 0
        a
      strong
        color: #ccc
    a
      text-decoration: none
      color: #999
      margin-right: 5px
      width: auto
      &:hover
        border-bottom: 2px solid #999
      &.signup
        color: #4CC87C
        &:hover
          color: #3AA0EB
          text-decoration: none
          border-bottom: 2px solid #3AA0EB
      &#demo
        color: #009DFF
  .product
    height: 400px
    width: 580px
    position: absolute
    background-color: transparent
    top: 189px
    left: 390px
    overflow: visible
    img
      position: absolute
      top: 0
      left: 0
  #demo_video
    width: 480px
    height: 300px
    //-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .4)
    //-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .4)
    overflow: visible
    position: absolute
    top: 208px
    left: 487px
    // display: none
    background-color: #000
    #close
      width: 20px
      height: 20px
      position: absolute
      top: 0
      left: -20px
      overflow: hidden
      text-indent: -10000px
      background: #fff url(/images/close.png) 0 0 no-repeat
      opacity: .7
      &:hover
        opacity: 1
      
  dl
    dt
      font-size: 12px
      font-weight: bold
      line-height: 1.4
    dd
      font-size: 12px
      line-height: 1.4
      margin: 0 0 20px 0
      color: #666
#header 
  width: 100%
  min-width: 500px
  background-color: #f5f5f5
  background-color: rgba(240, 240, 240, .95)
  height: 43px
  position: fixed
  top: 0
  left: 0
  z-index: 2
  cursor: default !important
  &:hover
    cursor: default !important
  h1 
    float: left
    font-size: 20px
    color: #000
    width: 130px
    margin: 8px 0 0 8px
    letter-spacing: -1px
    color: #333
    a
      color: #333
      text-decoration: none
  .input
    margin: 9px 0 0 0 
    span
      margin: 1px 0 0 2px
      font-weight: normal
      font-size: 12px
    input 
      width: 180px
      padding: 2px 4px 0
      font-size: 13px
      height: 22px
      &:focus 
        opacity: 1
        outline: none
  ul 
    position: absolute
    width: 200px
    margin: 15px 10px 0 0
    top: 0
    right: 0
    height: auto
    padding: 0
    white-space: nowrap
    li 
      display: inline-block
      float: right
      color: #aaa
      margin-left: 10px
      font-size: 11px
      &.username 
        font-weight: bold
        margin: -1px 0 0 0
      a 
        color: #ccc
        text-decoration: none
        &:hover
          color: #aaa
#container 
  position: absolute
  top: 45px
  left: 0
  padding: 6px 0 0 0
  background-color: #fff
  width: auto 
  min-width: 100%
  min-height: 300px
  height: auto
  overflow: visible
  z-index: 1
  &:hover
    cursor: default !important
table 
  width: auto
  float: left
  min-height: 100%
  padding: 0
  margin: 0
  background-color: #fff
  table-layout: fixed
  cursor: default !important
td
  &.ui-placeholder-highlight
    min-width: 170px
    max-width: 300px
.list   
  padding: 0 10px 12px 10px
  margin: 2px
  vertical-align: top
  min-width: 180px
  width: 280px
  overflow: hidden
  margin: 0
  border-right: 1px solid #fff
  border-left: 1px solid #fff
  // -moz-background-clip: padding
  // -webkit-background-clip: padding
  // background-clip: padding-box
  &:hover
    cursor: default !important
  &.ui-sortable-helper
    background-color: #fff
    margin: 0
    border: 0
    padding-left: 8px
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    &:last-child
      border-right: none
      margin: 0
  &:first-child 
    border-left: 2px solid #fff
  &:last-child
    border-right: 4px solid #fff
  ul 
    float: left
    padding: 0
    margin: 0 0 10px 0
    width: 101.7%
    li 
      list-style: none
      text-indent: none
      font-size: 11px
      padding: 0 4px
      margin: 0 0 0 -4px
      line-height: 1.2
      border-bottom: 1px solid #eee
      &:hover
        cursor: url(https://mail.google.com/mail/images/2/openhand.cur), move !important
        background-color: #E8F3F9
        border-top: 1px solid #C8E1F1
        border-color: #C8E1F1
        margin-top: -1px
      &:active
        cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), move !important
      .task_title
        color: #111
        display: inline-block
        padding: 4px 0 4px
        &:hover
          cursor: pointer
          text-decoration: underline
      .date 
        font-size: 9px
        color: #dc4d48
        font-weight: bold
        &:hover
          cursor: pointer
      &.completed
        background: url(/images/check.png) 4px 6px no-repeat
        padding: 0 4px 0 16px
        cursor: default !important
        &:hover
          border-color: #ddd
          background-color: #f6f6f6
        .task_title
          color: #ccc
          font-style: italic
          font-size: 11px
          padding: 3px 0 5px
          &:hover
            color: #ddd
        .date 
          color: #ccc
          &:hover
            cursor: pointer
      &.ui-sortable-helper
        border-bottom: none
        -webkit-box-shadow: 0 0px 4px rgba(0, 0, 0, .2)
        -moz-box-shadow: 0 0px 4px rgba(0, 0, 0, .2)
        -webkit-border-radius: 2px
        -moz-border-radius: 2px
        background-color: #E8F3F9
        border: 1px solid #C8E1F1
        margin-left: 3px
        color: #111
        &:active
          cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), move !important
        .task_title
          &:hover
            cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), move !important
      &.ui-placeholder-highlight
        background-color: #f6f6f6
        -webkit-border-radius: 2px
        -moz-border-radius: 2px
      
  &.upcoming
    ul 
      margin: -8px 0 0 0
    .today
      font-weight: bold
      font-size: 9px
      margin: 3px 0 0 0
      float: right
      color: #F28991
    .list_title 
      background-color: #ea3a47
      margin-bottom: 10px
      cursor: default !important
      &:hover
        cursor: default !important
      h3
        cursor: default !important
        &:hover
          cursor: default !important
  .list_title
    float: left
    text-align: left
    width: 100%
    font-size: 13px
    padding: 4px 9px 4px 9px
    margin: 0 0 6px -8px
    min-height: 17px
    background-color: #4da8db
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    position: relative
    overflow: hidden
    background-clip: border-box
    &:hover
      cursor: url(https://mail.google.com/mail/images/2/openhand.cur), move !important
    &:active
      cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), move !important
    .delete
      background: transparent url(/images/delete.png) 0 0 no-repeat
      height: 16px
      width: 16px
      position: absolute
      right: 4px
      top: 5px
      overflow: hidden
      text-indent: -10000px
      opacity: .4
      &:hover
        opacity: .8
    h3 
      color: #fff
      display: inline
      width: auto
      white-space: nowrap
      &:hover
        cursor: pointer
      &:active
        cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), move !important
  input 
    float: left
    width: 100%
    max-width: 280px
::-webkit-input-placeholder
  color: #ddd
  font-weight: normal
.newtask 
  float: left
  margin: 0
  padding: 0
  width: 100%
.archive_link
  text-decoration: none
  font-size: 11px
  color: #bbb
  &:hover
    color: #999
#flash_alert, #flash_notice
  position: fixed
  top: 0
  left: 0
  padding: 4px 0
  width: 100%
  text-align: center
  z-index: 100000
  font-size: 13px
  font-weight: normal
  color: #fff
#flash_alert
  background-color: #ea3a47
#flash_notice
  background-color: #FBE24B
  opacity: 0
  color: #333
.users
  font-family: Monaco, Courier, monospace
  background-color: #222
  color: #666
  h2
    margin: 10px 0 25px 20px
    color: #fff
    font-size: 24px
    font-weight: normal
  a
    color: #53B3F4
    padding: 5px 10px
    margin: 10px 
    &:hover
  ol
    width: 100%
    margin: 10px 0
    li
      list-style-type: decimal
      list-style-position: inside
      font-size: 11px
      border-bottom: 1px solid #292929
      padding: 3px 10px
  form
    width: 600px
    margin: 0 auto
    padding: 200px 0 0
    height: 300px
    text-align: left
    input[type="text"]
      font-family: Monaco, Courier, monospace
      width: 600px
      margin: 0 0 5px 
      height: 40px
      font-size: 24px
      padding-left: 10px
      color: #fff
      border: 1px solid #000
      background-color: #333
      font-weight: normal
      &:focus
        border-color: #53B3F4
        background-color: #163A53
    input[type="submit"]
      background: #111
      border: 1px solid #000
      color: #999
      font-family: Monaco, Courier, monospace
      font-weight: normal
      font-size: 24px
      &:active
        background: #000 
@import moz.sass
@import mobile.sass  
