@import reset.sass
@import picker.sass
@import forms.sass
@import print.sass
html
  height: 100%
  cursor: default !important
body 
  font-family: "Helvetica Neue", Arial, sans-serif
  color: #191919
  height: 100%
  cursor: default !important
  background: #fff
  &.home
    background-color: #f9f9f9
  &.home, &.new, &.create, &.legal, &.help
.legal #page #content p,.help #page #content p
  color: #333
  font-size: 12px
.home #page
  max-width: 860px
  // min-width: 1060px
  overflow: visible
  #content
    float: none
    position: absolute
    width: auto 
    max-width: 820px
    top: 0
    left: 0
    padding: 40px 20px 20px 20px 
    p
      font-weight: normal
      line-height: 1.3
      font-size: 18px
#page
  min-height: 100%
  height: auto
  margin: 0 auto
  text-align: left
  min-width: 300px
  width: 100%
  max-width: 680px
  overflow: auto
  position: relative
  #content
    padding: 40px
    float: left
    max-width: 400px
    height: auto
    overflow: auto
    margin-top: 30px
    -webkit-border-radius: 4px
    min-width: 280px
    position: relative
    h1
      font-size: 30px
      margin: 40px 0 113px 0
      color: #333
      letter-spacing: -1px
      a
        font-size: 28px
        color: #333
        text-shadow: 0 1px 0 #fff
        &:hover
          border-color: #333
    h2
      font-size: 28px
      margin: 0 0 20px 0
      color: #666
      font-weight: bold
    h3
      font-size: 18px
      margin: 25px 0 15px
    h4
      margin: 25px 0 5px
      text-transform: uppercase
      font-size: 11px
    ul
      margin: 10px 0
      li
        list-style: none
        font-size: 13px
        padding: 2px
        margin: 2px 0
        strong
    p
      margin: 10px 0 20px
      max-width: 100%
      line-height: 1.3
      font-size: 18px
      color: #ccc
      -webkit-font-smoothing: antialiased
      &#sign_in
        margin: 40px 0 0
        a
      strong
        color: #ccc
    a
      text-decoration: none
      color: #999
      margin-right: 5px
      padding-bottom: 5px
      width: auto
      &:hover
        border-bottom: 1px solid #999
      &.signup
        color: #4CC87C
        line-height: 2.8
        &:hover
          text-decoration: none
          border-bottom: 1px solid #4CC87C
      &#demo
        float: left
        display: block
        color: #999
        width: 808px
        height: 338px
        background: #222 url(/images/play-large.png) 0 0 no-repeat
        margin: 20px 0 0
        text-indent: -10000px
        padding: 0
        &:hover
          background: #222 url(/images/play-large.png) 0 -330px no-repeat
          border: none
    #demo_video
      width: 808px
      height: 338px
      overflow: auto
      display: none
      margin: 40px 0 0
      border: 1px solid #eee
      position: relative
      background-color: #fff
      &:hover
        .controls
          display: block
      .controls
        display: none
        .play, .stop
          background-color: #222
          opacity: .6
          text-indent: -10000px
          position: absolute
          bottom: 5px
          left: 5px
          width: 48px
          height: 30px
          padding: 0
          &:hover
            opacity: 1
            border: 0
        .play
          display: none
          background: #222 url(/images/play.png) 0 0 no-repeat
        .stop
          background: #222 url(/images/stop.png) 0 0 no-repeat
  dl
    dt
      font-size: 12px
      font-weight: bold
      line-height: 1.4
    dd
      font-size: 12px
      line-height: 1.4
      margin: 0 0 20px 0
      color: #666
#header 
  width: 100%
  min-width: 500px
  background-color: #f5f5f5
  background-color: rgba(240, 240, 240, .95)
  border-bottom: 1px solid #ddd
  height: 41px
  position: fixed
  top: 0
  left: 0
  z-index: 2
  cursor: default !important
  &:hover
    cursor: default !important
  h1 
    float: left
    font-size: 20px
    color: #000
    width: 130px
    margin: 8px 0 0 12px
    letter-spacing: -1px
    color: #333
    a
      color: #333
      text-decoration: none
  .input
    margin: 8px 0 0 0 
    span
      margin: 1px 0 0 2px
      font-weight: normal
      font-size: 12px
    input 
      width: 180px
      padding: 2px 4px 0
      font-size: 13px
      height: 22px
      &:focus 
        opacity: 1
        outline: none
  ul 
    position: absolute
    min-width: 200px
    max-width: 300px 
    margin: 15px 10px 0 0
    top: 0
    right: 0
    height: auto
    padding: 0
    white-space: nowrap
    li 
      display: inline-block
      float: right
      color: #aaa
      margin-left: 10px
      font-size: 11px
      &.username 
        font-weight: bold
        margin: -1px 0 0 0
      a 
        color: #ccc
        text-decoration: none
        &:hover
          color: #aaa
#container 
  position: absolute
  top: 41px
  left: 0
  padding: 6px 0 0 0
  background-color: #fff
  width: auto 
  min-width: 100%
  min-height: 300px
  height: auto
  overflow: visible
  z-index: 1
  &:hover
    cursor: default !important
table 
  width: auto
  float: left
  min-height: 100%
  padding: 0
  margin: 0
  background-color: #fff
  table-layout: fixed
  cursor: default !important
td
  &.ui-placeholder-highlight
    min-width: 170px
    max-width: 300px

td.shared_list
  .share_link
    display: block !important
    opacity: 1 !important
.list   
  padding: 0 10px 12px 10px
  margin: 2px
  vertical-align: top
  min-width: 180px
  width: 280px
  overflow: visible
  margin: 0
  border-right: 1px solid #fff
  border-left: 1px solid #fff
  // -moz-background-clip: padding
  // -webkit-background-clip: padding
  // background-clip: padding-box
  &:hover
    cursor: default !important
  &.ui-sortable-helper
    background-color: #fff
    margin: 0
    border: 0
    padding-left: 8px
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    &:last-child
      border-right: none
      margin: 0
  &:first-child 
    border-left: 2px solid #fff
  &:last-child
    border-right: 4px solid #fff
  ul 
    float: left
    padding: 0 0 10px 0
    margin: 0
    width: 101.7%
    overflow: visible
    li 
      list-style: none
      text-indent: none
      font-size: 11px
      padding: 0 4px
      margin: 0 0 0 -4px
      line-height: 1.2
      border-bottom: 1px solid #eee
      &:hover
        cursor: url(https://mail.google.com/mail/images/2/openhand.cur), move !important
        background-color: #E8F3F9
        border-top: 1px solid #C8E1F1
        border-color: #C8E1F1
        margin-top: -1px
      &:active
        cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), move !important
      .task_title
        color: #111
        display: inline-block
        padding: 4px 0 4px
        &:hover
          cursor: pointer
          text-decoration: underline
      .date 
        font-size: 9px
        color: #dc4d48
        font-weight: bold
        &:hover
          cursor: pointer
      &.completed
        background: url(/images/check.png) 4px 6px no-repeat
        padding: 0 4px 0 16px
        cursor: default !important
        &:hover
          border-color: #ddd
          background-color: #f6f6f6
        .task_title
          color: #ccc
          font-style: italic
          font-size: 11px
          padding: 4px 0 5px
        .date 
          color: #ccc !important
          &:hover
            cursor: pointer
      &.ui-sortable-helper
        border-bottom: none
        -webkit-box-shadow: 0 0px 4px rgba(0, 0, 0, .2)
        -moz-box-shadow: 0 0px 4px rgba(0, 0, 0, .2)
        -webkit-border-radius: 2px
        -moz-border-radius: 2px
        background-color: #E8F3F9
        border: 1px solid #C8E1F1
        margin-left: 3px
        color: #111
        &:active
          cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), move !important
        .task_title
          &:hover
            cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), move !important
      &.ui-placeholder-highlight
        background-color: #f6f6f6
        -webkit-border-radius: 2px
        -moz-border-radius: 2px
      
  &.upcoming
    ul 
      margin: -8px 0 0 0
    .today
      font-weight: bold
      font-size: 9px
      margin: 3px 0 0 0
      float: right
      color: #F28991
    .list_title 
      background-color: #ea3a47
      margin-bottom: 10px
      cursor: default !important
      &:hover
        cursor: default !important
      h3
        cursor: default !important
        &:hover
          cursor: default !important
  .list_title
    float: left
    text-align: left
    width: 100%
    font-size: 13px
    padding: 4px 9px 4px 9px
    margin: 0 0 6px -8px
    min-height: 17px
    background-color: #4da8db
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    position: relative
    background-clip: border-box
    position: relative
    overflow: visible
    &:hover
      cursor: url(https://mail.google.com/mail/images/2/openhand.cur), move !important
      .icons
        opacity: 1
      .share_link, .color_picker, .delete
        display: block
        opacity: 1
    &:active
      cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), move !important
    .icons
      position: absolute
      top: 0
      right: 2px
      width: 65px
      height: 25px
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      opacity: 0
    .share_link
      position: absolute
      right: 22px
      text-indent: -10000px
      background: url(/images/share.png) 0 0 no-repeat
      display: none
    .share
      display: none
      position: absolute
      height: auto
      top: 2px
      right: 20px
      width: 178px
      background-color: #eee
      padding: 0px 8px 4px
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      -webkit-box-shadow: 0 0 3px rgba(0,0,0, .4)
      -moz-box-shadow: 0 0 3px rgba(0,0,0, .4)
      z-index: 10000
      &:hover
        cursor: default !important
      form
        width: 178px
        float: left
        margin: -4px 0 0 0
        .input
          background-color: #fff
          float: left
          input[type="text"]
            width: 174px
            float: left
            padding: 3px 0 3px 4px 
            height: 18px
            border-top-color: #aaa
            font-size: 11px
          span
            font-size: 11px
            color: #ccc
            margin: 2px 0 0 0
            left: 0
      ul
        float: left
        width: 100%
        border: none
        padding: 8px 0 0 0
        margin: 0 0 5px 0
        &:hover
          border: none
        li
          color: #aaa
          padding: 3px 0 2px 2px 
          border-bottom: 1px solid #e1e1e1
          margin: 0 
          cursor: default !important
          font-size: 10px
          height: 14px
          line-height: 1
          position: relative
          overflow: hidden
          &:hover
            background-color: transparent
            border-top: none
            margin-top: 0
            text-indent: 14px
            .remove
              display: block
          .remove
            display: none
            position: absolute
            top: 0
            left: 0
            height: 14px
            width: 14px
            margin-left: 2px
            overflow: hidden
            text-indent: -10000px
            background: #eee url(/images/remove.png)  0 2px no-repeat
            opacity: .6
            &:hover
              opacity: 1
    .delete, .share_link, .color_picker
      height: 18px
      width: 18px
      top: 4px
      opacity: .4
      &:hover
        -webkit-border-radius: 2px
        -moz-border-radius: 2px
        background-color: rgba(255, 255, 255, .3) 
    .color_picker
      width: 21px
    .delete
      background: transparent url(/images/delete.png) 0 0 no-repeat
      position: absolute
      right: 4px
      overflow: hidden
      text-indent: -10000px
    h3 
      color: #fff
      display: inline
      width: auto
      white-space: nowrap
      &:hover
        cursor: pointer
      &:active
        cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), move !important
  input 
    float: left
    width: 100%
    max-width: 280px
::-webkit-input-placeholder
  color: #ddd
  font-weight: normal
.newtask 
  float: left
  margin: 0
  padding: 0
  width: 100%
.archive_link
  text-decoration: none
  font-size: 11px
  color: #bbb
  &:hover
    color: #999
#flash_alert, #flash_notice
  position: fixed
  top: 0
  left: 0
  padding: 4px 0
  width: 100%
  text-align: center
  z-index: 100000
  font-size: 13px
  font-weight: normal
  color: #fff
#flash_alert
  background-color: #ea3a47
#flash_notice
  background-color: #FBE24B
  opacity: 0
  color: #333
.users
  font-family: Monaco, Courier, monospace
  background-color: #222
  color: #666
  h2
    margin: 10px 0 25px 20px
    color: #fff
    font-size: 24px
    font-weight: normal
  a
    color: #53B3F4
    padding: 5px 10px
    margin: 10px 
    &:hover
  ol
    width: 100%
    margin: 10px 0
    li
      list-style-type: decimal
      list-style-position: inside
      font-size: 11px
      border-bottom: 1px solid #292929
      padding: 3px 10px
  form
    width: 600px
    margin: 0 auto
    padding: 200px 0 0
    height: 300px
    text-align: left
    input[type="text"]
      font-family: Monaco, Courier, monospace
      width: 600px
      margin: 0 0 5px 
      height: 40px
      font-size: 24px
      padding-left: 10px
      color: #fff
      border: 1px solid #000
      background-color: #333
      font-weight: normal
      &:focus
        border-color: #53B3F4
        background-color: #163A53
    input[type="submit"]
      background: #111
      border: 1px solid #000
      color: #999
      font-family: Monaco, Courier, monospace
      font-weight: normal
      font-size: 24px
      &:active
        background: #000 
@import moz.sass
@import mobile.sass  
