<p>Dear Listwerk beta tester,</p>

<p>We deployed several changes to Listwerk tonight, two of which might affect your workflow in the application.</p>

<p>First, we've inverted the functions of single-click and double-click. Now it's single-click to edit, double-click to complete. This change takes a little time to adjust to, but we think it feels more natural.</p>

<p>Second, dates are now parsed and filtered out of the item. Typing, "do this 9/15" would previously display as "9/15 do this 9/15". This seemed redundant to us, so it will now show as "9/15 do this".</p>

<p>Let us know if you have any thoughts on these changes.</p>

<p>Thanks</p>

<p>Ben and Matt</p>
