html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header,
hgroup, menu, nav, section,
time, textarea, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header,
hgroup, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:focus, input:focus, button:focus, input:active, button:active {
  outline: none; }

/* END RESET CSS */
/* www.aestheticallyloyal.com/public/optimize-legibility/ */
a:hover, a:active {
  outline: none; }

/* align checkboxes, radios, text inputs with their label
 * by:  Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {
  cursor: pointer; }

/* make buttons play nice in IE:
 * www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
  width: auto;
  overflow: visible; }

/* bicubic resizing for non-native sized IMG:
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* Prevent iOS, WinMobile from adjusting font size */
html {
  -webkit-appearance: none; }

input[type="text"], input[type="submit"], input[type="password"], button, textarea {
  -webkit-appearance: none; }

* html .clearfix {
  height: 1%;
  overflow: visible; }

* + html .clearfix {
  min-height: 1%; }

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0; }

div.color_picker {
  position: absolute;
  top: 5px;
  right: 24px;
  height: 16px;
  width: 16px;
  padding: 0 !important;
  background: url(/images/picker4.png) no-repeat top right;
  cursor: pointer;
  line-height: 16px;
  text-indent: -10000px;
  display: none;
  opacity: 0.7; }
  div.color_picker:hover {
    opacity: 1; }

.list .list_title:hover div.color_picker {
  display: block; }

div#color_selector {
  z-index: 100;
  width: 102px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #eeeeee;
  padding: 8px 8px 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4); }

div#color_custom {
  width: 100%; }
  div#color_custom input {
    margin: 8px 0 4px;
    padding: 2px 3px;
    font-size: 95%;
    width: 94px;
    font-size: 11px;
    font-weight: bold;
    -webkit-box-shadow: none;
    border: 1px solid #cccccc;
    -moz-box-shadow: none; }

div.color_swatch {
  height: 15px;
  width: 15px;
  margin: 0px;
  float: left;
  cursor: pointer;
  line-height: 12px;
  border: 1px solid transparent; }
  div.color_swatch:hover {
    border-color: white !important; }

input[type="text"], input[type="password"] {
  -moz-box-shadow: 0px 1px 1px #dddddd inset;
  -webkit-box-shadow: 0px 1px 1px #dddddd inset;
  border: none;
  border-bottom: 1px solid #eeeeee;
  padding: 3px 4px;
  height: 15px;
  background-color: #f9f9f9;
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0 0 0 -4px; }
  input[type="text"]:focus, input[type="password"]:focus {
    -moz-box-shadow: 0px 1px 1px #d0d053 inset;
    -webkit-box-shadow: 0px 1px 1px #d0d053 inset;
    background-color: #fdfead;
    background-color: rgba(254, 254, 6, 0.2);
    outline: none;
    border-bottom-color: transparent; }

#page #content.form {
  width: 280px; }
  #page #content.form h1 {
    margin-bottom: 0px; }
  #page #content.form h2 {
    margin: 0 0 50px 0;
    font-size: 20px; }
  #page #content.form .links {
    width: 280px;
    float: left;
    height: auto;
    font-size: 14px; }

.input {
  margin: 12px 0 0 0;
  background: white;
  float: left;
  position: relative;
  cursor: default; }
  .input span {
    position: absolute;
    padding: 5px;
    margin: 1px 0 0 3px;
    color: #dddddd;
    font-size: 14px; }
  .input input[type="text"], .input input[type="password"] {
    position: relative;
    margin: 0;
    font-weight: bold;
    background: transparent;
    background-color: rgba(200, 200, 200, 0.07);
    display: block;
    padding: 4px 6px;
    position: relative;
    z-index: 3;
    height: 20px;
    width: 220px;
    font-size: 14px;
    color: #333333; }
    .input input[type="text"].fieldError, .input input[type="password"].fieldError {
      border-left: 1px solid #dc4d48; }
    .input input[type="text"]#card-cid, .input input[type="password"]#card-cid {
      width: 90px;
      margin-right: 10px; }
    .input input[type="text"]#card-exp, .input input[type="password"]#card-exp {
      width: 120px; }
    .input input[type="text"]:focus, .input input[type="password"]:focus {
      background: transparent;
      background: rgba(254, 254, 6, 0.2); }
  .input .form-error {
    position: absolute;
    left: -10px;
    top: 21px;
    width: 100%;
    color: #eb7378;
    font-size: 0.9em;
    font-weight: bold; }

#content form, #content fieldset {
  margin: 0;
  padding: 0;
  width: 240px;
  height: auto;
  float: left; }
  #content form h3, #content fieldset h3 {
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 15px 0;
    width: 100%; }
  #content form ul, #content fieldset ul {
    float: left;
    width: 180px;
    padding: 0;
    margin: -5px 0 0 0; }
    #content form ul li, #content fieldset ul li {
      font-size: 0.7em;
      display: inline-block;
      width: auto;
      margin: 0 0 0 0; }
      #content form ul li a, #content fieldset ul li a {
        display: block;
        width: auto;
        padding: 0px 5px 2px 0;
        color: #005f8b;
        text-decoration: none; }
  #content form #error_explanation, #content fieldset #error_explanation {
    margin: 10px 0 0;
    float: left;
    clear: both;
    color: #dc4d48;
    width: 240px; }
    #content form #error_explanation h2, #content fieldset #error_explanation h2 {
      display: none; }
    #content form #error_explanation ul, #content fieldset #error_explanation ul {
      width: 240px; }
      #content form #error_explanation ul li, #content fieldset #error_explanation ul li {
        display: list-item;
        margin: 0;
        list-style: none;
        font-weight: bold;
        font-size: 14px;
        color: #dc4d48;
        padding: 0; }
#content input[type="submit"] {
  cursor: pointer;
  display: inline-block;
  line-height: 1.8;
  margin: 12px 200px 10px 0;
  padding: 2px 13px;
  height: auto;
  width: auto;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  float: left;
  background: #f9f9f9;
  background: -moz-linear-gradient(center top, white, white 55%, #e4e4e4) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), color-stop(0.55, white), to(#e4e4e4));
  font-size: 14px;
  font-weight: bold;
  color: #666666;
  font-family: "Helvetica Neue", Arial, sans-serif;
  border: 1px solid #cccccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  text-shadow: 0 1px 0 white;
  outline: none; }
  #content input[type="submit"]:hover, #content input[type="submit"]:focus {
    border-color: #aaaaaa;
    text-shadow: none;
    color: #555555; }
  #content input[type="submit"]:active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background: #eeeeee;
    outline: none; }

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  outline: 0; }

fieldset {
  float: left;
  width: 300px;
  height: auto;
  margin: 0 0 5px 0; }

legend {
  float: left;
  font-size: 1.1em;
  margin: 0 10px 0 0;
  width: 70px; }

.checkbox {
  float: left;
  width: 100%;
  margin: 8px 0 5px 0;
  height: 16px;
  color: #dddddd; }

.remember {
  width: 100%; }

.forgot {
  float: left;
  width: 100%;
  margin: 15px 0 15px 0;
  text-align: left;
  color: #cccccc;
  font-size: 1em; }

.radio label, .radio input {
  float: left;
  margin-top: 2px; }

.radio label {
  margin: 2px 6px 0 0; }

.checkbox label, .radio label {
  vertical-align: middle;
  font-size: 11px;
  font-weight: bold;
  color: #dddddd; }

.checkbox input, .radio input {
  vertical-align: middle;
  padding: 0;
  margin: 0; }

select {
  float: left;
  width: 160px;
  margin: 0 60px 10px 0; }

.cancel {
  margin: 1.3em 0 0 15px;
  font-size: 1.1em;
  color: #cccccc;
  float: left; }

a.cancel:hover {
  color: #666666; }

html {
  height: 100%; }

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #191919;
  height: 100%;
  cursor: default !important; }
  body.show {
    background: white; }
  body.home {
    text-align: center;
    background: #eeeeee url("/images/bg4.png") 0 0 repeat-x; }

.legal #page #content p, .help #page #content p {
  color: #333333;
  font-size: 13px; }

.index #page {
  background: transparent;
  overflow: visible; }
  .index #page #content {
    float: none;
    position: absolute;
    top: 0;
    left: 0; }
  .index #page #content p {
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: -0.03em;
    font-size: 19px; }

#page {
  background-color: white;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  text-align: left;
  min-width: 300px;
  width: 100%;
  max-width: 990px;
  overflow: auto;
  position: relative; }
  #page #content {
    padding: 40px;
    float: left;
    max-width: 380px;
    height: auto;
    overflow: auto;
    min-width: 280px;
    position: relative; }
    #page #content #login {
      float: left;
      margin: 5px 0 0 0;
      width: 280px;
      display: none;
      height: auto; }
      #page #content #login p {
        margin: 20px 0;
        display: inline-block;
        width: 100%;
        height: auto;
        color: #cccccc; }
    #page #content h1 {
      font-size: 28px;
      margin: 40px 0 113px 0;
      color: #333333;
      letter-spacing: -1px; }
      #page #content h1 a {
        font-size: 28px;
        color: #333333;
        text-shadow: 0 1px 0 white; }
    #page #content h2 {
      font-size: 22px;
      margin: 0 0 20px 0;
      color: #009dff;
      font-weight: normal; }
    #page #content h3 {
      font-size: 18px;
      margin: 25px 0 15px; }
    #page #content h4 {
      margin: 25px 0 5px; }
    #page #content ul {
      margin: 10px 0; }
      #page #content ul li {
        list-style: none;
        font-size: 13px;
        padding: 2px;
        margin: 2px 0; }
    #page #content p {
      margin: 10px 0 20px;
      max-width: 100%;
      line-height: 1.3;
      font-size: 18px;
      color: #cccccc; }
      #page #content p#sign_in {
        margin: 40px 0 0; }
      #page #content p strong {
        color: #666666; }
    #page #content a {
      text-decoration: none;
      color: #999999;
      margin-right: 5px;
      width: auto; }
      #page #content a:hover {
        text-decoration: underline; }
      #page #content a.signup {
        color: #7bc242;
        font-size: 20px; }
      #page #content a#demo {
        color: #009dff; }
  #page .product {
    height: 400px;
    width: 580px;
    position: absolute;
    background-color: transparent;
    top: 189px;
    left: 390px;
    overflow: visible; }
    #page .product img {
      position: absolute;
      top: 0;
      left: 0; }
  #page #demo_video {
    width: 480px;
    height: 300px;
    overflow: visible;
    position: absolute;
    top: 208px;
    left: 487px;
    background-color: black; }
    #page #demo_video #close {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: -20px;
      overflow: hidden;
      text-indent: -10000px;
      background: white url(/images/close.png) 0 0 no-repeat;
      opacity: 0.7; }
      #page #demo_video #close:hover {
        opacity: 1; }

#header {
  width: 100%;
  background-color: #f5f5f5;
  background-color: rgba(240, 240, 240, 0.98);
  height: 43px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5); }
  #header:hover {
    cursor: default !important; }
  #header h1 {
    float: left;
    font-size: 20px;
    color: black;
    width: 120px;
    margin: 8px 0 0 8px;
    color: #333333;
    letter-spacing: -0.07em; }
    #header h1 a {
      color: #333333;
      text-decoration: none; }
  #header .input {
    margin: 9px 0 0 0; }
    #header .input span {
      margin: 1px 0 0 2px;
      font-weight: normal;
      font-size: 12px; }
    #header .input input {
      width: 180px;
      padding: 2px 4px 0;
      font-size: 13px;
      height: 22px; }
      #header .input input:focus {
        opacity: 1;
        outline: none; }
  #header ul {
    float: right;
    width: 200px;
    margin: 15px 10px 0 0;
    height: auto;
    padding: 0; }
    #header ul li {
      display: inline-block;
      float: right;
      color: #aaaaaa;
      margin-left: 10px;
      font-size: 11px; }
      #header ul li.username {
        font-weight: bold;
        margin: -1px 0 0 0; }
      #header ul li a {
        color: #cccccc;
        text-decoration: none; }
        #header ul li a:hover {
          color: #aaaaaa; }

#container {
  position: absolute;
  top: 45px;
  left: 0;
  padding: 6px 0 0 0;
  background-color: white;
  width: auto;
  min-width: 100%;
  min-height: 300px;
  height: auto;
  overflow: visible;
  z-index: 1; }
  #container:hover {
    cursor: default !important; }

table {
  width: auto;
  float: left;
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
  table-layout: fixed; }

td.ui-placeholder-highlight {
  min-width: 170px;
  max-width: 300px; }

.list {
  padding: 0 10px 0 10px;
  margin: 2px;
  vertical-align: top;
  min-width: 180px;
  width: 280px;
  overflow: hidden;
  margin: 0;
  border-right: 1px solid white;
  border-left: 1px solid white; }
  .list:hover {
    cursor: default !important; }
  .list.ui-sortable-helper {
    background-color: white;
    margin: 0;
    border: 0;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding-left: 8px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px; }
    .list.ui-sortable-helper:last-child {
      border-right: none;
      margin: 0; }
  .list:first-child {
    border-left: 2px solid white; }
  .list:last-child {
    border-right: 4px solid white; }
  .list ul {
    float: left;
    padding: 0;
    margin: 0 0 10px 0;
    width: 101.5%; }
    .list ul li {
      list-style: none;
      text-indent: none;
      font-size: 11px;
      padding: 0 4px;
      margin: 0 0 0 -4px;
      line-height: 1.2;
      border-bottom: 1px solid #f5f5f5; }
      .list ul li:hover {
        cursor: url(https://mail.google.com/mail/images/2/openhand.cur), move !important;
        background-color: white; }
      .list ul li .task_title {
        color: #111111;
        display: inline-block;
        padding: 4px 0 4px; }
        .list ul li .task_title:hover {
          cursor: pointer;
          color: #777777; }
      .list ul li:last-child {
        border: none; }
      .list ul li .date {
        font-size: 9px;
        color: #dc4d48;
        font-weight: bold; }
        .list ul li .date:hover {
          cursor: pointer; }
      .list ul li.completed {
        background: url(/images/check.png) 4px 6px no-repeat;
        padding: 0 4px 0 16px; }
        .list ul li.completed .task_title {
          color: #cccccc;
          font-style: italic;
          font-size: 11px;
          padding: 3px 0 5px; }
          .list ul li.completed .task_title:hover {
            color: #dddddd; }
        .list ul li.completed .date {
          color: #bbbbbb; }
          .list ul li.completed .date:hover {
            cursor: pointer; }
      .list ul li.ui-sortable-helper {
        border-bottom: none;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        background-color: white;
        margin-left: 3px;
        color: #111111; }
        .list ul li.ui-sortable-helper:active {
          cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), move !important; }
        .list ul li.ui-sortable-helper .task_title:hover {
          cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), move !important; }
      .list ul li.ui-placeholder-highlight {
        background-color: #eeeeee;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px; }
      .list ul li input[type="text"] {
        padding: 4px 5px 4px 3px;
        margin: 0 0 0 -4px;
        height: auto;
        border: none;
        line-height: 1.2;
        background-color: #fdfead;
        background-color: rgba(254, 254, 6, 0.2);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        float: none; }
  .list.upcoming ul {
    margin: -8px 0 0 0; }
  .list.upcoming .today {
    font-weight: bold;
    font-size: 9px;
    margin: 4px 0 3px 0;
    float: right;
    color: #ea9491; }
  .list.upcoming .list_title {
    background-color: #dc4d48;
    margin-bottom: 10px;
    cursor: default !important; }
    .list.upcoming .list_title:hover {
      cursor: default !important; }
    .list.upcoming .list_title h3 {
      cursor: default; }
      .list.upcoming .list_title h3:hover {
        cursor: default; }
  .list .list_title {
    float: left;
    text-align: left;
    width: 100%;
    font-size: 14px;
    padding: 3px 10px 4px 8px;
    margin: 0 0 6px -8px;
    background-color: #4da8db;
    color: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    position: relative;
    overflow: hidden; }
    .list .list_title:hover {
      cursor: url(https://mail.google.com/mail/images/2/openhand.cur), move !important; }
    .list .list_title:active {
      cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), move !important; }
    .list .list_title .delete {
      background: transparent url(/images/delete.png) 0 0 no-repeat;
      height: 16px;
      width: 16px;
      position: absolute;
      right: 4px;
      top: 4px;
      overflow: hidden;
      text-indent: -10000px;
      opacity: 0.4; }
      .list .list_title .delete:hover {
        opacity: 0.8; }
    .list .list_title h3 {
      opacity: 1;
      display: inline;
      width: auto;
      white-space: nowrap; }
      .list .list_title h3:hover {
        cursor: pointer; }
      .list .list_title h3:active {
        cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), move !important; }
  .list input {
    float: left;
    width: 100%;
    max-width: 280px; }

::-webkit-input-placeholder {
  color: #dddddd;
  font-weight: normal; }

.newtask {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%; }

#flash_alert, #flash_notice {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 2px;
  color: white;
  width: 100%;
  text-align: center;
  z-index: 100000;
  font-size: 12px;
  font-weight: bold; }

#flash_alert {
  background-color: #dc4d48; }

#flash_notice {
  background-color: #06c251; }

@-moz-document url-prefix() {
  .list ul li .task_title {
    padding: 4px 0 4px; }
  .list ul li.completed .task_title {
    padding: 4px 0 4px; }

  .list ul li input {
    padding: 3px 5px 4px 3px;
    margin: 0 0 0 -4px; }

  #content input[type="submit"] {
    padding: 4px 10px; }

  input::-moz-focus-inner {
    border: 0; } }
