html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header,
hgroup, menu, nav, section,
time, textarea, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header,
hgroup, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:focus, input:focus, button:focus {
  outline: none; }

/* END RESET CSS */
/* www.aestheticallyloyal.com/public/optimize-legibility/ */
a:hover, a:active {
  outline: none; }

/* align checkboxes, radios, text inputs with their label
 * by:  Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {
  cursor: pointer; }

/* make buttons play nice in IE:
 * www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
  width: auto;
  overflow: visible; }

/* bicubic resizing for non-native sized IMG:
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* Prevent iOS, WinMobile from adjusting font size */
html {
  -webkit-appearance: none; }

input, button, textarea {
  -webkit-appearance: none; }

div.color_picker {
  position: absolute;
  top: 5px;
  right: 24px;
  height: 16px;
  width: 16px;
  padding: 0 !important;
  background: url(/images/picker4.png) no-repeat top right;
  cursor: pointer;
  line-height: 16px;
  text-indent: -10000px;
  display: none;
  opacity: 0.7; }
  div.color_picker:hover {
    opacity: 1; }

.list .list_title:hover div.color_picker {
  display: block; }

div#color_selector {
  width: 102px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #eeeeee;
  padding: 8px 8px 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px; }

div#color_custom {
  width: 100%; }
  div#color_custom input {
    margin: 8px 0 4px;
    padding: 2px 3px;
    font-size: 95%;
    width: 94px;
    font-size: 11px;
    font-weight: bold;
    -webkit-box-shadow: none;
    border: 1px solid #cccccc;
    -moz-box-shadow: none; }

div.color_swatch {
  height: 15px;
  width: 15px;
  margin: 0px;
  float: left;
  cursor: pointer;
  line-height: 12px;
  border: 1px solid transparent; }
  div.color_swatch:hover {
    border-color: white !important; }

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333333;
  background: white url(/images/bg.png) 0 0 repeat; }

#header {
  width: 100%;
  background-color: white;
  height: 44px;
  position: fixed;
  top: 0;
  left: 0; }
  #header h1 {
    float: left;
    font-size: 20px;
    color: black;
    width: 120px;
    margin: 8px 0 0 8px; }
  #header input {
    float: left;
    margin: 10px 0 0 0;
    width: 166px; }
    #header input:focus {
      opacity: 1;
      outline: none; }
  #header ul {
    float: right;
    width: 200px;
    margin: 14px 10px 0 0;
    height: 20px;
    padding: 0; }
    #header ul li {
      display: inline-block;
      float: right;
      color: #aaaaaa;
      margin-left: 10px;
      font-size: 11px; }
      #header ul li.username {
        font-weight: bold; }
      #header ul li a {
        color: #aaaaaa;
        text-decoration: none; }

#container {
  position: absolute;
  top: 42px;
  left: 0;
  padding: 0;
  background-color: white;
  width: auto;
  min-width: 100%;
  min-height: 300px;
  height: auto;
  overflow: visible; }

table {
  width: auto;
  float: left;
  min-height: 90%;
  padding: 0;
  margin: 0;
  background-color: white;
  table-layout: fixed; }

td.ui-placeholder-highlight {
  min-width: 170px;
  max-width: 300px; }

.list {
  padding: 0 10px 0 10px;
  margin: 2px;
  vertical-align: top;
  min-width: 150px;
  width: 280px;
  overflow: hidden;
  margin: 0;
  border-right: 1px solid white;
  border-left: 1px solid white;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box; }
  .list.ui-sortable-helper {
    background-color: white;
    margin: 0;
    border: 0;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    padding-left: 8px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px; }
    .list.ui-sortable-helper:hover {
      cursor: move; }
    .list.ui-sortable-helper:active {
      cursor: move; }
    .list.ui-sortable-helper:last-child {
      border-right: none;
      margin: 0; }
  .list:first-child {
    border-left: 2px solid white; }
  .list:last-child {
    border-right: 4px solid white; }
  .list ul {
    float: left;
    padding: 0;
    margin: 1px 0 10px 0;
    width: 100%; }
    .list ul li {
      list-style: none;
      text-indent: none;
      font-size: 11px;
      padding: 4px 4px;
      margin-left: -4px;
      line-height: 1.2;
      border-bottom: 1px solid #efefef;
      cursor: pointer; }
      .list ul li .task_title {
        color: #111111; }
        .list ul li .task_title:hover {
          cursor: pointer;
          color: #777777; }
      .list ul li:last-child {
        border: none; }
      .list ul li .date {
        font-size: 9px;
        color: #dc4d48;
        margin-right: 2px;
        font-weight: bold; }
      .list ul li.completed {
        background: url(/images/check.png) 0 6px no-repeat;
        padding: 3px 4px 4px 13px; }
        .list ul li.completed .task_title {
          color: #cccccc;
          font-style: italic;
          font-size: 11px; }
          .list ul li.completed .task_title:hover {
            color: #dddddd; }
        .list ul li.completed .date {
          color: #bbbbbb; }
      .list ul li.ui-sortable-helper {
        border-bottom: none;
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        background-color: white;
        margin-left: 3px;
        color: #111111; }
        .list ul li.ui-sortable-helper:active {
          cursor: move; }
      .list ul li.ui-placeholder-highlight {
        background-color: #eeeeee;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px; }
      .list ul li input {
        padding: 4px 4px 4px 3px;
        margin: -4px 0 -4px -4px;
        height: auto;
        border: none;
        line-height: 1.2;
        background-color: #fffda0;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        float: none; }
  .list.upcoming ul {
    margin: -8px 0 0 0; }
  .list.upcoming .list_title {
    background-color: #dc4d48;
    margin-bottom: 10px;
    cursor: default; }
    .list.upcoming .list_title h3 {
      cursor: default; }
      .list.upcoming .list_title h3:hover {
        cursor: default; }
  .list .list_title {
    float: left;
    text-align: left;
    width: 100%;
    font-size: 14px;
    padding: 3px 10px 4px 8px;
    margin: 0 0 10px -8px;
    background-color: #4da8db;
    color: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    position: relative;
    overflow: hidden;
    cursor: move; }
    .list .list_title:active {
      cursor: move; }
    .list .list_title .delete {
      background: transparent url(/images/delete.png) 0 0 no-repeat;
      height: 16px;
      width: 16px;
      position: absolute;
      right: 4px;
      top: 4px;
      overflow: hidden;
      text-indent: -10000px;
      opacity: 0.4; }
      .list .list_title .delete:hover {
        opacity: 0.8; }
    .list .list_title h3 {
      opacity: 1;
      display: inline;
      width: auto;
      white-space: nowrap; }
      .list .list_title h3:hover {
        cursor: pointer; }
  .list input {
    float: left;
    width: 100%;
    max-width: 280px; }

input, .editable input {
  -moz-box-shadow: 0px 1px 1px #aaaaaa inset;
  -webkit-box-shadow: 0px 1px 1px #aaaaaa inset;
  border-top: none;
  border-left: none;
  border-bottom: 1px solid #eeeeee;
  border-right: none;
  padding: 4px;
  height: 15px;
  background-color: #f9f9f9;
  font-family: "Helvetica Neue";
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  margin: 0 0 0 -4px; }
  input:focus, .editable input:focus {
    -webkit-box-shadow: 0px 1px 1px #666666 inset;
    background-color: #fffda0;
    border-bottom-color: #dddddd;
    outline: none; }

::-webkit-input-placeholder {
  color: #cccccc; }

.newtask {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%; }
