.share
  %form
    .input
      %span Enter an email address
      %input{:type => "text"}
  %ul
    %li
      John.Jingleheimer@gmail.com
      %a.remove{:href => "#"} remove
    %li
      halogenandtoast@gmail.com
      %a.remove{:href => "#"} remove
    %li
      thisisaverylongemail.@hotm...
      %a.remove{:href => "#"} remove
    %li
      short@yahoo.com
      %a.remove{:href => "#"} remove
    %li
      bobama@unitedstatesofamer...
      %a.remove{:href => "#"} remove
