.share
  = form_tag(list_shares_path(list), :method => :post, :remote => true, :id => "share_form") do
    .input
      %span Enter an email address
      %input{:type => "text", :name => "share_email"}
  - unless list.shared_users.empty?
    %ul
      - @list.shared_users.each do |user|
        %li
          = user.email
          %a.remove{:href => "#"} remove
