- if current_user
  #header
    %h1
      = link_to image_tag('logo-small.png'), root_url
    = render "topbar"
#page
  #content
    - if current_user
    - else
    = render "logo"
    %h3 Why Listwerk?
    %p
      There are no less than 7,938,492 "GTD" applications and frameworks out there. How do we know? We counted them. Why are there so many? We think it's because people get things done in different ways. Sadly, we couldn't find a product that functioned the way we function. So, we decided to build our own -- Listwerk. There are a few core principles that guide Listwerk's development:
    %ul
      %li It should be fast. No, faster.
      %li It should be easy to use.
      %li It should be flexible.
      %li It should be powerful.
      %li It should be light-hearted and fun.
      %li It should be an aid, not a distraction.
    %p
      Listwerk was conceived and developed by Benjamin Lehn and Matthew Mongeau. They met in Atlanta in 2009, and began working on Listwerk in 2011. Benjamin currently places the pixels from Brooklyn, while Matthew crushes the bits from Boston.
// = render :partial => "devise/shared/links"
= render "footer"
