- if current_user
  #header
    %h1
      = link_to 'Listwerk', root_url
    %ul#util
      %li
        %a{:href => ""} Help
      %li= link_to 'Sign Out', destroy_user_session_path
      %li.username= link_to current_user.email, edit_user_registration_path
#page
  #content
    %dl
      %dt 
        Creating Lists
        %dd Type your list title in to the input box on the top left and press ENTER.
      %dt 
        Creating Tasks
        %dd This is the answer
      %dt 
        Completing Tasks
        %dd This is the answer
      %dt 
        Creating Todos
        %dd This is the answer
      %dt 
        Creating Todos
        %dd This is the answer
      %dt 
        Creating Todos
        %dd This is the answer
      %dt 
        Creating Todos
        %dd This is the answer
      %dt 
        Creating Todos
        %dd This is the answer
      %dt 
        Creating Todos
        %dd This is the answer
      %dt 
        Creating Todos
        %dd This is the answer
      %dt 
        Creating Todos
        %dd This is the answer
      %dt 
        Creating Todos
        %dd This is the answer
      %dt 
        Creating Todos
        %dd This is the answer
      %dt 
        Creating Todos
        %dd This is the answer
      