- if current_user
  #header
    %h1
      = link_to 'Listwerk', root_url
    %ul#util
      %li
        %a{:href => ""} Help
      %li= link_to 'Sign Out', destroy_user_session_path
      %li.username= link_to current_user.email, edit_user_registration_path
#page
  #content
    %h3 How to use Listwerk
    %ul
      %li <strong>Create lists</strong> Type into the "New List" input and pressing the ENTER key.
      %li <strong>Create todos</strong> Type your todo into the input below a list title, then press ENTER.
      %li <strong>Sort lists and todos</strong> Drag and drop them into the desired order.
      %li <strong>Complete a todo</strong> Just click on the todo. Todos will stay on your list for 7 days after they are completed; then they'll be archived.
      %li <strong>Edit a todo</strong> Double-click on the todo; press ENTER when you're done editing.
      %li <strong>Give a todo a due date</strong> type the date in the todo with the "@" prefix. Try "@mm/dd", @monday, @wed, @tomorrow, and more...
      %li <strong>Give a todo a due date</strong> type the date in the todo with the "@" prefix. Try "@mm/dd", @monday, @wed, @tomorrow, and more...
      %li Tasks that have due dates will also appear in the Upcoming list in chronological order. You can edit and complete them in this list as well.
      %li The date to the right of the "Upcoming" title is today's date.
      %li Customize your list colors by hovering over the list title and clicking on the color icon that appears to the right. Click a swatch or input a Hex value.
      %li Delete a list by clicking the X icon to the right of the list title.
      %li Delete a task by editing the task, deleting all of it's text, and pressing ENTER.
      %li View the entire history of a list by clicking the "View all" link at the bottom of the list.
    %h3 Questions or Comments?
    %p If the help topics below don't answer your question, please email us at help@listerk.com and we'll get back to you as soon as possible.
