- if current_user
  #header
    %h1
      = link_to 'Listwerk', root_url
    %ul#util
      %li
        %a{:href => ""} Help
      %li= link_to 'Sign Out', destroy_user_session_path
      %li.username= link_to current_user.email, edit_user_registration_path
#page
  #content
    %h3 How to use Listwerk
    %dl
      %dt Create lists
      %dd Type a list name the "New List" input and pressthe ENTER key.

      %dt Create tasks 
      %dd Type your task into the input below a list title, then press ENTER.

      %dt Sort lists and tasks
      %dd Drag and drop them into the desired order.

      %dt Complete a task 
      %dd Just click on the task. tasks will stay on your list for 7 days after they are completed; then they'll be archived.

      %dt Edit a task 
      %dd Double-click on the task; press ENTER when you're done editing.

      %dt Give a task a due date 
      %dd Type the date with the "@" prefix along with your task. Try "@mm/dd", @monday, @wed, @tomorrow. Tasks that have due dates will also appear in the Upcoming list in chronological order. You can edit and complete them in this list as well.

      %dt Customize list colors 
      %dd Hover over a list title and click on the color icon that appears to the right. Click a swatch or type a Hex value.

      %dt Delete a list 
      %dd Click the X icon to the right of the list title.

      %dt Delete a task
      %dd Edit the task, delete all of it's text, then press ENTER.

      %dt View archived tasks 
      %dd Click the "View all" link at the bottom of a list.

      %dt Scroll horizontally
      %dd If you have a bunch of lists are wider than the window, try using the "j" and "k" keys to scroll left and right. 

    / %h3 Questions or Comments?
    / %p If the help topics below don't answer your question, please email us at help@listerk.com and we'll get back to you as soon as possible.
