- if current_user
  #header
    %h1
      = link_to 'Listwerk', root_url
    %ul#util
      %li
        %a{:href => ""} Help
      %li= link_to 'Sign Out', destroy_user_session_path
      %li.username= link_to current_user.email, edit_user_registration_path
#page
  #content
    %p
      This is a legal agreement between the person registering for a
      Listwerk account ("You" or "you") and Benjamin Lehn ("I" or "me").
      This agreement governs your use of the Listwerk service ("the
      service").
    %h4 Privacy
    %p
      We may periodically send you email concerning the service or your account.
      We will not view the contents of your account without your express consent. We may use anonymous usage statistics to determine ways to improve the service. 
      We will not sell your email address to anyone.
      We may provide information concerning your account and your use of
      the service to 3rd parties, at our sole discretion, if
      A. It is requested by law enforcement authorities.
      B. We have reason to believe that it is in your interest that we provide
      such information.
      C. It is necessary in order to keep the service running, or to diagnose
      or fix problems with the service or another network.

    %h4 Subscriptions 
    %p
      The free version of this service allows for the creation of three lists.
      The paid version of the services allows for unlimited lists and costs $11 USD per year. You will be automatically billed each year, and will be notified in advance when payment is due.  If you do not make a payment by its due date, your account will be deactivated for 60 days, during which time you may reactivate the account. After 60 days, your account may be permanently deleted.
      You are responsible for any use of your account; consequently, you
      are responsible for keeping your account password and the keys you use
      to access the service secure.

    %h4 Disclaimer
    %p
      Use of the service is at your own risk.
    %p
      THE SERVICE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES,
      INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
      MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
      IN NO EVENT SHALL We BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
      SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
      LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
      DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
      THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
      (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
      OF THIS SERVICE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    %h4 Miscellaneous
    %p
      We may transfer my rights and obligations under this agreement if
      we incorporate a company for the purpose of operating the service.
      We may update these Terms and Conditions at any time, but you will
      not be bound by any updates until 30 days after we send you an email
      notifying you of the changes.

