%p
  This is a legal agreement between the person registering for a
  Listwerk account ("You" or "you") and Benjamin Lehn ("I" or "me").
  This agreement governs your use of the Listwerk service ("the
  service").
%h4 Privacy
%p
  3. We may send you email concerning the service or your account at any
  time.
%p
  3. We will not view the contents of your account unless you explicitly ask us to do so. We may, however, use your data in an anonymous manner to 
%p
  4. We will not sell your email address to anyone.
%p
  5. We may provide information concerning your account and your use of
  the service to 3rd parties, at our sole discretion, if
%ul
  %li
    It is requested by law enforcement authorities.
  %li
    We have reason to believe that it is in your interest that we provide
    such information.
  %li
    It is necessary in order to keep the service running, or to diagnose
    or fix problems with the service or another network.
%h4 Money
%p
  6. In order to use the service, you must deposit money into your
  account in advance.  Each payment must be a minimum of $1.
%p
  7. (a) The word "dollars" means US dollars.
%p
  8. You are responsible for any use of your account; consequently, you
  are responsible for keeping your account password and the keys you use
  to access the service secure.
%p
  9. If your account balance drops below zero, you will no longer be
  able to access the service, and any data you have stored using the
  service may be deleted.
%p
  10. At any point, you may ask for a refund of your remaining account
  balance by contacting me at
%h4 Disclaimer
%p
  11. Use of the service is at your own risk.
%p
  THE SERVICE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES,
  INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
  MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
  IN NO EVENT SHALL We BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
  SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
  LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
  DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
  THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
  (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
  OF THIS SERVICE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
%h4 Miscellaneous
%p
  12. This agreement will be governed by the laws of British Columbia,
  Canada.
%p
  13. You may not use the service if you are a citizen or resident of
  Canada.
%p
  14. We may transfer my rights and obligations under this agreement if
  We incorporate a company for the purpose of operating the service.
%p
  15. We may update these Terms and Conditions at any time, but you will
  not be bound by any updates until 30 days after We send you an email
  notifying you of the changes.

