<p><%= @inviter.email %> has shared the list "<%= @list.title %>" with you. Click the link below  to create your Listwerk account and view the list.<p/>
<p><%= accept_invitation_url(@invitee, :invitation_token => @invitee.invitation_token) %></p>
