#page
  #content
    = render :partial => "shared/logo"
    %p
      Hello #{@resource.email}!
      %p We've made some changes to the way Listwerk works and you'll need to reset your password before you can log in again. To reset your password, use the link below:
    -# %p Someone has requested a link to change your password, and you can do this through the link below.
    %p= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

    %p Thanks, the Listwerk team
    -# %p If you didn't request this, please ignore this email.
    -# %p Your password won't change until you access the link above and create a new one.
