#help
  %a.close Close
  %dl
    %dt Create lists
    %dd Type a list name into the "New List" input and press the ENTER key.

    %dt Create tasks 
    %dd Type your task into the input below a list title, then press ENTER.

    %dt Sort lists and tasks
    %dd Drag and drop them into the desired order. You can also drag tasks between lists.

    %dt Complete a task 
    %dd Click the checkbox to the left of a task. Tasks will stay on your list for 7 days after they are completed; then they'll be archived.

    %dt Edit a task 
    %dd Click on the text of a task; press ENTER when you're done editing.

    %dt Give a task a due date 
    %dd Type the date or day along with your task. Try "mm/dd", "monday", "wed", "tomorrow", "tod", "tom". Tasks that have due dates will also appear in the Upcoming list in chronological order. You can edit and complete them in this list as well.

    %dt Change list color 
    %dd Hover over a list title and click on the color icon that appears to the right. Click a swatch or type a Hex value.

    %dt Delete a list 
    %dd Click the arrow icon to the right of the list title, then click the "Delete list" link.

    %dt Delete a task
    %dd Edit the task, delete all of its text, then press ENTER.

    %dt Shared lists
    %dd CLick on the people icon to the right of a list title. Then type in the email address of a collaborator and press ENTER. This list will show up on their dashboard and they will be able to edit it.

    %dt Public (read-only) lists
    %dd Click on the arrow icon to the right of a list title,then click "Public URL". You will unlock the list and be directed to the public, read-only URL for that list. You can disable the public URL at any time by clicking the lock icon.

    %dt View archived tasks 
    %dd Click the arrow icon to the right of the list title, then click the "History" link.

    %dt Scroll horizontally
    %dd Most browsers will also scroll horizontally if you hold the SHIFT key while using yor mouse's scrollwheel. 

    %dt Nest lists
    %dd Listwerk doesn't support nested lists because we think it buries information. But, you can create a new list, drag it next to the parent and give it a similar color...works for us! 
