#demo_video
  :javascript
    QT_WriteOBJECT(
      'https://s3.amazonaws.com/Listwerk/listwerk.mov', 
      '808', 
      '298', 
      '', 
      'CONTROLLER', 'False',
      'BGCOLOR', '#ffffff', 
      'SHOWLOGO', 'False',
      'EnableJavaScript', 'True', 
      'emb#NAME' , 'video' , 
      'obj#id' , 'video', 
      'TARGET', 'Myself',
      'CACHE', 'True'
    );

  .controls
    %a.play{:href => "javascript:document.video.Play();"} Play
    %a.stop{:href => "javascript:document.video.Stop();"} Stop
