%ul#util
  %li= link_to "Help", help_path, :tabindex => "-1"
  %li= link_to 'Sign Out', destroy_user_session_path, :tabindex => "-1"
  %li.username= link_to current_user.email, edit_account_path, :tabindex => "-1"
