%td.public[list_proxy.list]
  .list_title{:"data-background-color" => list_proxy.color, :style => "background-color: ##{list_proxy.color};"}
    %h3= list_proxy.title
    .icons{:"data-background-color" => list_proxy.color, :style => "background-color: ##{list_proxy.color};"}
    .picker
  %ul.tasks{ :data => { :id => list_proxy.list_id } }
    = render list_proxy.tasks.filtered(filter).by_position
