- if current_user.expiration_date < Date.today
  %p Your account has expired
- else
  %p Your account will expire on #{current_user.expiration_date}
%p
  = link_to "Click here to reenable your account", subscription_path, :method => :put
